h1 {
	font-size: 15vh ;
	color: #D0D2CF;
	max-width: 100vw;
	margin-top: 25vh;
}

img {
	margin-top: 10vh;
	width: 48px;
}

section {
	min-height: 100vh;
}

 body {
	 background-color: #252525
 }

.level {
	max-width: 50vw;
	margin: 0 auto;
}

a {
	outline: none;
}
